---
import Layout from "../layouts/Layout.astro";
---

<Layout title="index">
  <main class="hero">
    <div class="logo">
      <img src="/bg.png" alt="" />
      <h2>Apple Music</h2>
    </div>
  </main>
</Layout>

<style>
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin-top: -50px;
  }
  .hero {
    width: 100%;
    min-height: 110vh;
    background-image: url("/alexander-shatov-qt7S2QuAhJI-unsplash.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
</style>
