---
import Layout from "../layouts/Layout.astro";
---

<Layout title="index">
  <main class="hero">
    <div class="logo">
      <img src="/bg.png" alt="" />
    </div>
  </main>
</Layout>

<style>
  .logo {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
  }
  .hero {
    width: 100%;
    min-height: 110vh;
    background-image: url("/alexander-shatov-qt7S2QuAhJI-unsplash.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
</style>
