<style>
    .header {
        position: relative;
        background-color: var(--color-secondary);
        width: 100%;
        max-height: 50px;
        padding: 1rem 0;
        transition: all 1s;
    }

    .header.dark {
        background-color: var(--color-text);
    }

    /* .header.hieght {
    transition: all 1s;
    overflow: hidden;
    max-height: 0;
    padding: 0;
  } */
    .icons.shop.hidshop {
        visibility: hidden;
    }

    .icons.shop {
        transition: all 0.1s;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0 2rem;
        z-index: 5;
    }

    .nav-mobil {
        position: relative;
        width: 100%;
        height: 0;
        /* top: 0;
    bottom: 0; */
        background-color: rgb(0, 0, 0);
        /* transform: translateY(-150rem); */
        transition: all 2s ease-in;
    }

    .nav-mobil.sliddown {
        transition: all 500ms ease-out;
        overflow: hidden;
        height: 100vh;
        /* transform: translateY(0); */
    }

    .nav {
        position: relative;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 1.5rem;
        transition: 0.3s ease;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }

    .menu-btn__burger {
        transition: all 200ms ease-in-out;
        background: transparent;
        width: 18px;
        height: 1px;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 1px;
        background: #fff;
        transition: all 200ms ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-5px);
    }

    .menu-btn__burger::after {
        transform: translateY(5px);
    }

    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .icons {
        width: 20px;
    }

    ul {
        margin: 0 5rem;
        list-style: none;
    }

    ul li:not(:last-child) {
        border-bottom: rgba(157, 156, 156, 0.659) solid 1px;
        padding: 1.5rem 0 1.5rem 0;
    }

    ul li:last-child {
        padding: 1.5rem 0 1.5rem 0;
    }

    .search_container {
        width: 100%;
        height: 70px;
        padding: 1rem;
        border-bottom: rgba(157, 156, 156, 0.659) solid 1px;
        background-color: rgb(0, 0, 0);
    }

    .search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex: 0 0 40%; */
        width: 100%;
        margin-left: -10px;
        z-index: 5;
    }

    .search__input {
        position: relative;
        font-family: inherit;
        font-size: inherit;
        font-weight: 100;
        color: inherit;
        background-color: #d3d3d9;
        border: none;
        padding: 1.3rem 5rem;
        border-radius: 10px;
        min-width: 98%;
        transition: all 500ms ease;
    }

    .search__input[type="text"] {
        background-color: #282828;
    }

    .search__input::placeholder {
        font-weight: 100;
        font-size: 2rem;
    }

    .search__btn {
        position: relative;
        z-index: 1;
        border: none;
        left: 30px;
    }

    .search__btn,
    .search__img {
        background-color: #282828;
    }

    .search p {
        color: var(--color-textlinks);
        font-size: 2rem;
        font-weight: 300;
        padding-left: 1rem;
        width: 70px;
        overflow: hidden;
        transition: all 500ms ease;
        cursor: pointer;
    }

    .search p.displayer {
        transition: all 500ms ease;
        transform: translateX(0);
    }

    /* hidden saerch */

    .search_nav {
        transition: all 500ms;
        max-height: 0;
        overflow: hidden;
        /* opacity: 0; */
        transition: all 500ms ease-out;
        background-color: rgb(0, 0, 0);
    }

    .search_hidden li:first-of-type {
        color: #9d9c9cde;
        border-bottom: none;
    }

    .search_nav.search_transition {
        max-height: 500px;
        opacity: 1;
        transition: all 500ms ease-in;
    }

    /* mobile_menu */
    .mobile_menu {
        max-height: 0;
        overflow: hidden;
        opacity: 1;
        transition: all 500ms ease-in;
        background-color: rgb(0, 0, 0);
    }

    .mobile_menu.add {
        opacity: 0;
        max-height: 0;
        transition: all 500ms ease-out;
    }

    .search__input.focus {
        min-width: 75%;
        transition: all 500ms ease;
    }
</style>

<script>
    const menuBtn = document.querySelector(".menu-btn");
    const shop = document.querySelector(".shop");
    const mobileNav = document.querySelector(".nav-mobil");
    const header = document.querySelector(".header");
    const searchNav = document.querySelector(".search_nav");
    const searchInput = document.querySelector("#search");
    const searchCancel = document.querySelector("p");
    const menuMobileItems = document.querySelector(".mobile_menu");

    menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("open");
        header.classList.toggle("dark");
        shop.classList.toggle("hidshop");
        mobileNav.classList.toggle("sliddown");
        menuMobileItems.classList.toggle("sliddown");
        searchNav.classList.toggle("sliddown");
    });

  // searchInput.addEventListener("click", () => {
  //   let isOnFocus = false;
  //   if (!isOnFocus) {
  //     searchNav.classList.add("search_transition");
  //     searchCancel.classList.add("displayer");
  //     menuMobileItems.classList.add("add");
  //     header.classList.add("hieght");
  //     searchInput.classList.add("focus");
  //     isOnFocus = false;
  //   }
  // });

  // searchCancel.addEventListener("click", () => {
  //   searchNav.classList.remove("search_transition");
  //   searchCancel.classList.remove("displayer");
  //   menuMobileItems.classList.remove("add");
  //   header.classList.remove("hieght");
  //   searchInput.classList.remove("focus");
  // });
</script>