---
import logo from "/apple.svg";
import shop from "/cart.svg";
---

<header class="header container">
  <div class="header__navbar">
    <div class="menu__toggler">
      <div class="menu__hamburger"></div>
    </div>
    <img class="menu__icons apple" src={logo} alt="" />
    <img class="menu__icons shop" src={shop} alt="" />
  </div>

  <nav class="nav nav__dropdown">
    <form action="" class="search_container">
      <input
        class="search_hidden search__input"
        type="search"
        id="search"
        placeholder="Search apple.com"
      />
      <a href="#" class="search_cancel">Cancel</a>
    </form>

    <ul class="search__menu">
      <li class="menu-item">QUICK LINKS</li>
      <li class="menu-item">Visiting an Aplple Store FAQ</li>
      <li class="menu-item">AirPods</li>
      <li class="menu-item">AirTag</li>
      <li class="menu-item">AppleCare+</li>
      <li class="menu-item">Gift Cards</li>
    </ul>

    <ul class="desktop__menu">
      <li class="menu-item">Store</li>
      <li class="menu-item">Mac</li>
      <li class="menu-item">iPad</li>
      <li class="menu-item">iPhone</li>
      <li class="menu-item">Watch</li>
      <li class="menu-item">AirPods</li>
      <li class="menu-item">TV & Home</li>
      <li class="menu-item">Only on Apple</li>
      <li class="menu-item">Accessories</li>
      <li class="menu-item">Support</li>
    </ul>
  </nav>
</header>

<style>
  :root {
    --color-deep-black: rgb(0, 0, 0);
    --color-light-gray: #808083;
    --color-links-blue: #1780ff;
    --color-white: #ffffff;
    --color-deep-gray: #333333;
  }
  header .header__navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-deep-gray);
    width: 100%;
    height: 50px;
    transition: all 1s ease;
  }
  .menu__icons {
    width: 25px;
    height: 25px;
  }
  .menu__toggler {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .menu__hamburger {
    transition: all 200ms ease-in-out;
    background: transparent;
    width: 18px;
    height: 1px;
  }
  .menu__hamburger::before,
  .menu__hamburger::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background: #fff;
    transition: all 200ms ease-in-out;
  }
  .menu__hamburger::before {
    transform: translateY(-5px);
  }
  .menu__hamburger::after {
    transform: translateY(5px);
  }
  .addbgblack {
    background-color: rgb(0, 0, 0) !important;
  }

  /* .menu__hamburger click animation */
  .menu__toggler.open .menu__hamburger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu__toggler.open .menu__hamburger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu__toggler.open .menu__hamburger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* nav__dropdown */
  .nav__dropdown {
    position: absolute;
    height: 0;
    width: 100%;
    /* add overflow hidden to hide all elements👇🏾  */
    overflow: hidden;
    background-color: var(--color-deep-black);
    color: var(--color-white);
    font-weight: 100;
    font-size: 1.7rem;
    z-index: 999;
    transition: all 500ms ease-in;
    transform: translateY();
  }
  .moveup {
    transform: translateY(-50px);
  }

  .desktop__menu {
    max-height: 500px;
    opacity: 1;
    transition: all 1s ease-out;
    position: relative;
  }
  .search__menu {
    transition: all 500ms ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .toggle__dropdown {
    transition: all 500ms ease-out;
    height: 100vh;
  }

  /* search_container */
  .search_container {
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    /* background-color: green; */
    border-bottom: 1px solid var(--color-light-gray);
    overflow: hidden;
  }
  .search__btn {
    position: relative;
    border: none;
    background-color: transparent;
    transform: translateX(40px);
    z-index: 1;
    /* overflow: hidden; */
  }
  .search__input {
    background-image: url("/search.svg");
    background-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px 5px 10px 40px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 100;
    color: inherit;
    background-color: #282828;
    border: none;
    min-width: 98%;
    transition: all 500ms ease;
  }
  .search__input::placeholder {
    font-weight: normal;
  }
  .inputfocus {
    transition: all 500ms ease;
    min-width: 82%;
    transform: translateX(-1rem);
  }
  .search_cancel {
    text-decoration: none;
    color: var(--color-links-blue);
    margin-left: 1rem;
    font-weight: normal;
    display: none;
    /* opacity: 0;
    transform: translateX(10rem);
    transition: opacity 1s ease; */
  }
  .addcancel {
    display: block;
  }

  /* shop icon opacity  */

  .shop,
  .apple {
    opacity: 1;
    transition: opacity 1s ease-in;
    cursor: pointer;
  }
  .Icon_opcity {
    opacity: 0;
    transform: translateX(10rem);
    transition: opacity 200ms ease-out;
  }
  .invisible {
    transition: all 500ms ease-in;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .visible {
    max-height: 500px;
    opacity: 1;
    transition: all 1s ease-in;
    position: relative;
  }

  /* menu items  */
  ul {
    margin: 0 5rem;
    list-style: none;
  }

  ul li:not(:last-child) {
    border-bottom: rgba(157, 156, 156, 0.659) solid 1px;
    padding: 1.5rem 0 1.5rem 0;
  }

  ul li:last-child {
    padding: 1.5rem 0 1.5rem 0;
  }
</style>

<script>
  const menuToggler = document.querySelector(".menu__toggler");
  const dropdownNavMenu = document.querySelector(".nav__dropdown");
  const toggleMenuItemsCancle = document.querySelector(".search_cancel");
  const searchMenueItems = document.querySelector(".search__menu");
  const deskTopMenuItems = document.querySelector(".desktop__menu");
  const searchInput = document.querySelector(".search__input");
  const shopIcon = document.querySelector(".shop");
  const navBar = document.querySelector(".header__navbar");

  let isVisible = false;

  menuToggler.addEventListener("click", () => {
    menuToggler.classList.toggle("open");
    dropdownNavMenu.classList.toggle("toggle__dropdown");
    shopIcon.classList.toggle("Icon_opcity");
    navBar.classList.toggle("addbgblack");
  });

  toggleMenuItemsCancle.addEventListener("click", toggleMenuItemsCancleHandler);

  searchInput.addEventListener("click", () => {
    if (!isVisible) {
      searchMenueItems.classList.toggle("visible");
      deskTopMenuItems.classList.toggle("invisible");
      searchInput.classList.toggle("inputfocus");
      dropdownNavMenu.classList.toggle("moveup");
      toggleMenuItemsCancle.classList.toggle("addcancel");

      console.log(isVisible);
      isVisible = true;
      console.log(isVisible);
    }
  });

  function toggleMenuItemsCancleHandler() {
    if (isVisible) {
      searchMenueItems.classList.remove("visible");
      deskTopMenuItems.classList.remove("invisible");
      searchInput.classList.remove("inputfocus");
      dropdownNavMenu.classList.remove("moveup");
      toggleMenuItemsCancle.classList.remove("addcancel");
      deskTopMenuItems.classList.remove("invisible");
      searchMenueItems.classList.remove("visible");
      isVisible = false;
    }
  }
</script>
